body {
    font-family: sans-serif;
}
nav a {
    text-decoration: none;
    border-bottom:5px solid black;
    color:black;
    padding-bottom:3px;
    margin:50px;
}
nav{
    text-align: center;
}
h1 {
    text-align:center;
}
main img{
    border-left: 10px dotted black ;
    margin-left:50px;
}
 main p {
   border:2px solid black; 
   border-radius:10px;
   padding:10px;
}
footer {
   background-color:black;
   padding:5px;
}
footer p {
    font-size: 15px;
    background-color:white;
    padding:5px;
}



